var width = 500;
var height = 500;

// var json = <%= $android_versions_json %>;
var json = android_versions_json;

var pie = new d3pie("pieChart", {
	"header": {
		"title": {
			"text": "Android Versions Share",
			"fontSize": 22,
			"font": "verdana"
		},
		"subtitle": {
			"text": "Based on X sources",
			"color": "#999999",
			"fontSize": 10,
			"font": "verdana"
		},
		"titleSubtitlePadding": 12
	},
	"footer": {
		"text": "Sources:",
		"color": "#999999",
		"fontSize": 11,
		"font": "open sans",
		"location": "bottom-center"
	},
	"size": {
		"canvasHeight": 400,
		"canvasWidth": 590,
		"pieOuterRadius": "88%"
	},
	"data": {
		"content": [
			{
				"label": "4.1-4.3",
				"value": json['4.1-4.3'],
				"color": "#1b1dd4"
			},
			{
				"label": "4.4",
				"value":  json['4.4'],
				"color": "#ee2875"
			},
			{
				"label": "5.0-5.1",
				"value":  json['5.0-5.1'],
				"color": "#31bac8"
			},
			{
				"label": "6",
				"value":  json['6'],
				"color": "#1eda7a"
			},
			{
				"label": "7.0-7.1",
				"value":  json['7.0-7.1'],
				"color": "#c1c839"
			}
		]
	},
	"labels": {
		"outer": {
			"pieDistance": 32
		},
		"inner": {
			"format": "value"
		},
		"mainLabel": {
			"font": "verdana"
		},
		"percentage": {
			"color": "#e1e1e1",
			"font": "verdana",
			"decimalPlaces": 0
		},
		"value": {
			"color": "#e1e1e1",
			"font": "verdana"
		},
		"lines": {
			"enabled": true,
			"color": "#cccccc"
		},
		"truncation": {
			"enabled": true
		}
	},
	"effects": {
		"pullOutSegmentOnClick": {
			"effect": "linear",
			"speed": 400,
			"size": 8
		}
	}
});
