var width = 800;
var height = 20;

var json = <%= $major_ios_versions_json %>;

var data = [{pid: 145, p: 'SHIPSLOG', minutes: 54},
            {pid: 245, p: 'D2L-HELP', minutes: 143},
            {pid: 345, p: 'ANGEL-HELP', minutes: 41},
            {pid: 445, p: 'SWF101', minutes: 44},
            {pid: 545, p: 'TPL800', minutes: 35}];

var data = [4, 8, 32, 15, 100, 16, 23, 42];
data.sort(function(a, b){return a-b});
//data.sort(d3.descending());
var width = "100%",
    height = 20,
	goal = 600,
	perc_so_far = 0;


//console.log(d3.sum(data));
var total_time = d3.sum(data);
var bar_x = 0;
var chart = d3.select("#chart")
	.attr("width", "100%")
	.attr("height", height);
	bar_x = 0;
	//var chart_width = chart.style("width").replace("px", "");
var chart_width = parseInt(d3.select("#chart").style("width"));
console.log(chart_width);

var color = d3.scale.category20c();
	//d3.scale.ordinal()
	//.domain(["6TH", "7TH", "5TH", "4TH"])
	//.range(colorbrewer.RdBu[12]);
var bar = chart.selectAll("g")
	.data(data)
	.enter().append("g");
	console.log(bar);
bar.append("rect")
	.attr("width", function(d) { return ((d/total_time)*100) + "%"; } )
	.attr("x", function(d) {
		var prev_perc = perc_so_far;
		var this_perc = 100*(d/total_time);
		perc_so_far = perc_so_far + this_perc;
		console.log("perc_so_far:" + perc_so_far + "; this_perc:" + this_perc + "; prev_perc:" + prev_perc + ";");
		return prev_perc + "%";
	})
	.attr("height", height)
	.attr("fill",  function(d) { return (color(d)) } );

perc_so_far = 0;
bar.append("text")
	.attr("x", function(d) {
		var prev_perc = perc_so_far;
		var this_perc = 100*(d/total_time);
		perc_so_far = perc_so_far + this_perc;
		console.log("perc_so_far:" + perc_so_far + "; this_perc:" + this_perc + "; prev_perc:" + prev_perc + ";");
		return prev_perc + "%";
	})
	//.attr("y", 11)
	.attr("dy", "1.35em")
	.text(function(d) { return d; });

d3.select(window).on('resize', resize);

function resize () {
	var width = parseInt(d3.select("#chart").style("width"));
	//console.log(width);
	//console.log(bar);
}
