<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <title>MobileStatistics</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://d3js.org/d3.v4.min.js"></script>
  </head>

  <body>
    <%= Gon::Base.render_data(init: true) %>
    <%= yield %>
  </body>
</html>
